<meta name="google-site-verification" content="BZqbzMSn4RFdy7v5zTH2vuUag8Hw02pDM3Z6Jg8QoEI" />
<meta name="google-adsense-account" content="ca-pub-5649339266302620" />
<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-2CL7WXH6L1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());
  gtag('config', 'G-2CL7WXH6L1');
</script>
<!-- Google AdSense -->
<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-5649339266302620" crossorigin="anonymous"></script>